<!DOCTYPE html>
<html>

<head>
  <title>Happy Blobs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/carousel.css' />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="container">
    <div class="content">
      <h1 class="title">Happy Blobs</h1>
      <p>
        Minted 5000 blobs in the last 24 hours.
      </p>
      <p>
        Minted price 0.06ETH
      </p>
    </div>
    <div class="player">
      <div class="progress-bar">
        <span class="progress"></span>
      </div>
    </div>
    </div>
    <div class="container">
      <img src="../public/images/1.png" alt="blob">
    </div>
</body>
</html>